/* fonts */
@font-face {
    font-family: JuliaMono-Bold;
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Bold.woff2");
}

@font-face {
    font-family: JuliaMono-Light;
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Light.woff2");
}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings:
        "liga" 1,
        "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

/* html tags */
html {
    background-color: #fff;
    font-family: sans-serif;
    color: #222;
    letter-spacing: 1.5px;
}

html.dark {
    background-color: #292a2d;
    color: #eee;
}

body {
    margin: 0 auto;
    width: 100%;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0 0 20px;
    font-size: 2.625rem;
    font-weight: 700;
}

@media (max-width: 684px) {
    h1 {
        font-size: 2rem;
    }
}

h2 {
    margin: 1rem 0;
    font-size: 1.625rem;
    font-weight: 700;
}

a {
    text-decoration: underline;
}

p {
    margin-bottom: 1rem;
}

/* content wrapper classes */
.content {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  justify-content: center;
  margin: 50px 0;
}

.post {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;
}

@media (max-width: 684px) {
  .content {
    margin-top: 0;
  }
}

@media (max-width: 900px) {
  .post {
    max-width: 600px;
  }
}

/* nav styles */

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: flex;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
}

.nav-links {
    display: none;
}

.nav-links a {
    color: #222;
    font-family: "JuliaMono-Bold";
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0 12px;
    text-transform: lowercase;
}

.dark .nav-links a {
    color: #eee;
}

.nav-links a:hover,
.nav-links a:focus {
    color: #ad1a72;
}

.expanded {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    top: 60px;
    right: 0;
    border: none;
    margin: 0;
    padding: 10px;
    background-color: #fafafa;
}

.dark .expanded {
    background-color: #252627;
}

@media screen and (min-width: 636px) {
    .nav-links {
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
    }

    .hamburger {
        display: none;
    }
}
