/* fonts */
@font-face {
    font-family: JuliaMono-Medium;
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Medium.woff2");
}

@font-face {
    font-family: JuliaMono-Light;
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Light.woff2");
}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings:
        "liga" 1,
        "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

/* html tags */
html {
    background-color: #fff;
    font-family: sans-serif;
    color: #222;
    letter-spacing: 0.06rem;
}

html.dark {
    background-color: #292a2d;
    color: #eee;
}

body {
    margin: 0 auto;
    width: 100%;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-weight: 200;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0 0 20px;
    font-size: 2.625rem;
    font-weight: 700;
}

@media (max-width: 684px) {
    h1 {
        font-size: 2rem;
    }
}

h2 {
    margin: 1rem 0;
    font-size: 1.625rem;
    font-weight: 700;
}

h3 {
    margin: 0.33rem 0;
    font-size: 1.05rem;
    font-weight: 400;
}

a {
    text-decoration: underline;
}

a:hover {
    color: #ad1a72;
}

p {
    margin-bottom: 1rem;
}

ul {
    margin: 1rem;
}

ul li::marker {
    content: "+"; /* FontAwesome Unicode */
}

/* content wrapper classes */
.content {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  justify-content: center;
  margin: 50px 0;
}

.post {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;
}

@media (max-width: 684px) {
  .content {
    margin-top: 0;
  }
}

@media (max-width: 900px) {
  .post {
    max-width: 600px;
  }
}

/* nav styles */

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: flex;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
}

.nav-links {
    display: none;
}

.nav-links a {
    color: #222;
    font-family: "JuliaMono-Medium";
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0 12px;
    text-transform: lowercase;
}

.dark .nav-links a {
    color: #eee;
}

.nav-links a:hover,
.nav-links a:focus {
    color: #ad1a72;
}

.expanded {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    top: 60px;
    right: 0;
    border: none;
    margin: 0;
    padding: 10px;
    background-color: #F7F7F7;
}

.dark .expanded {
    background-color: #35373B;
}

@media screen and (min-width: 636px) {
    .nav-links {
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
    }

    .hamburger {
        display: none;
    }
}

/* table styles */

/* table styles */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5rem 0;
    font-size: 0.95rem;
    font-family: "JuliaMono-Light";
}

th {
    padding: 0.75rem;
    text-align: left;
    font-weight: 400;
    border-bottom: 2px solid #222;
    font-family: "JuliaMono-Regular";
}

.dark th {
    border-bottom: 2px solid #EEE;
}

td {
    padding: 0.75rem;
    border-bottom: 1px solid #222;
    position: relative;
}

.dark td {
    border-bottom: 1px solid #EEE;
}

/* code */

pre {
    margin-bottom: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 0px;
}

code {
    display: inline-block;
    padding: 0 0.35rem;
    background-color: #F7F7F7;
    letter-spacing: 0.06rem;
}

html.dark code {
    background-color: #35373B;
}

html .astro-code,
html .astro-code span {
    background-color: #F7F7F7 !important;
    letter-spacing: normal;
}

html.dark .astro-code,
html.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: #35373B !important;
}
