---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

export async function getStaticPaths() {
    let posts = await getCollection("posts");

    const uniqueTags = [
        ...new Set(posts.map((post) => post.data.tags).flat()),
    ];

    return uniqueTags.map((tag) => {
        const filteredPosts = posts.filter((post) =>
            !post.data.draft && post.data.tags.includes(tag),
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle='Filtered tags'>
    <p>Posts tagged with <code>{tag}</code></p>
    <ul>
        {
            posts.map((post) => (
                <BlogPost url={post.url} title={post.data.title} />
            ))
        }
    </ul>
</BaseLayout>
