---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Code } from "astro:components";
const pageTitle = "Hello there!";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="about-grid">
        <div>
            <p>I'm Simon and I like doing science.</p>
            <p>
                For most of my awake time during a normal week, I study
                different ways to measure disease activity in rheumatoid
                arthritis. That's pretty cool!
            </p>
            <p>
                Whenever there's some free time and motivation left, I work on
                projects involving <a
                    href="https://www.nature.com/articles/s41559-024-02496-4"
                    target="_blank">bird</a
                > ecology or cognition – hence the website's name!
            </p>
        </div>
        <div class="hover-image"></div>
    </div>
    <div style="display: inline-block">
        <h2>License</h2>
        <p>
            All content on this website is licensed under the <a
                href="https://creativecommons.org/licenses/by/4.0/"
                target="_blank"
                >Creative Commons Attribution 4.0 International License</a
            >, unless otherwise stated.
        </p>
        <p>
            All code snippets on this website is licensed under the <a
                href="https://choosealicense.com/licenses/mit/"
                target="_blank">MIT License</a
            >, unless otherwise stated.
        </p>
        <p>
            The website is built using the <a
                href="https://astro.build/"
                target="_blank">web framework Astro</a
            >.
        </p>
        <p>
            The styling and theme for the website is licensed under the <a
                href="https://choosealicense.com/licenses/mit/"
                target="_blank">MIT License</a
            > and it is inspired by <a
                href="https://fredrikekre.se/"
                target="_blank">Fredrik Ekre's website</a
            >, which in turn is derived from from the <a
                href="https://themes.gohugo.io/themes/hugo-theme-hello-friend-ng/"
                ><code>hello-friend-ng theme</code></a
            > (
            <a href="https://choosealicense.com/licenses/mit/" target="_blank"
                >MIT License</a
            >).
        </p>
    </div>
    <div style="display: inline-block">
        <h2>Privacy Policy</h2>
        <p>
            No data is collected from visitors to this website. The website is
            hosted on Netlify. Netlify's privacy policy is available <a
                href="https://www.netlify.com/privacy/">here</a
            >.
        </p>
    </div>
</BaseLayout>

<style>
    .about-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-bottom: 0rem;
    }

    .hover-image {
        width: 200px;
        height: 200px;
        background-image: url("/img/wow.png");
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        margin: 0 auto;
    }

    .hover-image:hover {
        background-image: url("/img/omg.png");
    }

    @media (min-width: 768px) {
        .about-grid {
            grid-template-columns: 2fr 1fr;
            align-items: start;
        }
    }
</style>
