---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Code } from "astro:components";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
    <div>
        This is my personal website. It's pretty new, so there is not much here yet.
        <h2>License</h2>
        <p>
            All content on this website is licensed under the <a
                href="https://creativecommons.org/licenses/by/4.0/"
                target="_blank"
                >Creative Commons Attribution 4.0 International License</a
            >, unless otherwise stated.
        </p>
        <p>
            All code snippets on this website is licensed under the <a
                href="https://choosealicense.com/licenses/mit/"
                target="_blank">MIT License</a
            >, unless otherwise stated.
        </p>
        <p>
            The website is built using the <a
                href="https://astro.build/"
                target="_blank">web framework Astro</a
            >.
        </p>
        <p>
            The styling and theme for the website is licensed under the <a
                href="https://choosealicense.com/licenses/mit/"
                target="_blank">MIT License</a
            > and it is inspired by <a
                href="https://fredrikekre.se/"
                target="_blank">Fredrik Ekre's website</a
            >, which in turn is derived from from the <a
                href="https://themes.gohugo.io/themes/hugo-theme-hello-friend-ng/"
                ><code>hello-friend-ng theme</code></a
            > (<a
                href="https://choosealicense.com/licenses/mit/"
                target="_blank">MIT License</a
            >).
        </p>
    </div>
    <div>
        <h2>Privacy Policy</h2>
        <p>
            No data is collected from visitors to this website. The website is
            hosted on Netlify. Netlify's privacy policy is available <a
                href="https://www.netlify.com/privacy/">here</a
            >.
        </p>
    </div>
</BaseLayout>
