---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("./posts/*.{md,mdx}");
const isAllDraft = allPosts.every((post) => post.frontmatter.draft === true);
const pageTitle = "Notes";
---

<BaseLayout pageTitle={pageTitle}>
  <p>The posts are more text-heavy and the notebooks are more focused on code.</p>
  <h2>Posts</h2>
  {
    isAllDraft ? (
      <p>Nothing here yet.</p>
    ) : (
      <ul>
        {allPosts.map((post) =>
          post.frontmatter.draft ? null : (
            <BlogPost url={post.url} title={post.frontmatter.title} />
          ),
        )}
      </ul>
    )
  }
  <h2>Notebooks</h2>
  <p>Richard McElreath's statistical rethinking online lectures in Julia:</p>
  <ul>
    <li>
      <a
        href="https://learnbayes.se/julia/statistical_rethinking/02_globetossing"
        target="_blank">Lecture 2: The Garden of Forking Paths</a>
    </li>
    <li>
      <a
        href="https://learnbayes.se/julia/statistical_rethinking/03_geocentric.html"
        target="_blank">Lecture 3: Geocentric models</a>
    </li>
    <li>
      <a
        href="https://learnbayes.se/julia/statistical_rethinking/04_categories.html"
        target="_blank">Lecture 4: Categories and Curves</a>
    </li>
    <li>
      <a
        href="https://learnbayes.se/julia/statistical_rethinking/05_confounds.html"
        target="_blank">Lecture 5: Elemental Confounds</a>
    </li>
  </ul>
  <p>Some <a href="https://turinglang.org", target="_blank">Turing.jl</a> models:</p>
  <ul>
    <li>
      <a
        href="https://learnbayes.se/julia/metaanalysis.html"
        target="_blank">Basic tutorial on Meta Analysis</a>
    </li>
  </ul>
</BaseLayout>
