---
const { title } = Astro.props;
---

<div class:list={[
  "my-4 p-4 bordered",
  { "flex items-center": !title }
]}>
  {title && <h3 set:html={title} class="pb-2" />}
  <slot />
</div>

<style>
  .bordered {
    background-color: #F7F7F7;
  }
  :global(.dark) .bordered {
    background-color: #35373B;
  }
  
  :global(p:last-child) {
    margin-bottom: 0;
    display: inline;
  }

  :global(p:only-child) {
    margin: 0;
    display: inline;
  }
</style>
