---
const { content } = Astro.props;
---

<style>
  .borders:not(:last-child) {
    border-right: 1px solid;
  }
  @media (max-width: 900px) {
    .borders:not(:last-child) {
      border-right: none;
    }
  }
</style>

<div class="borders px-4" set:html={content}></div>
