---
import FooterElement from "./FooterElement.astro";
---

<style>
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
        margin-top: 2rem;
        font-size: smaller;
    }
</style>

<footer>
  <div class="flex flex-row justify-center">
    <FooterElement content="© 2025 Simon Steiger" />
    <FooterElement content="License" />
    <FooterElement content="Privacy Policy" />
  </div>
  <FooterElement content="Built with Astro 🚀" />
</footer>
