---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<style>
    .home {
        font-family: "JuliaMono-Bold";
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 20px;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: lowercase;
    }
    .logo_cursor {
        background: #AD1A72;
        display: inline-flex;
        width: 10px;
        height: 1.125rem;
        border-radius: 1px;
        animation: cursor 1.5s infinite;
    }
    @keyframes cursor {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
</style>

<header>
    <div class="flex flex-row justify-between">
        <a class="home" href="/">$ cd /home<span class="logo_cursor"></span></a>
        <nav class="flex flex-row items-center gap-5">
            <Navigation />
            <ThemeIcon />
            <Hamburger />
        </nav>
    </div>
</header>
