---

---

<div class="my-4 p-4 bordered">
  <h3 class="pb-1">TL;DR</h3>
  <slot />
</div>

<style>
  .bordered {
    
    background-color: #F5F5F5;
  }
  :global(.dark) .bordered {
    
    background-color: #35373B;
  }
</style>
