---
import { ViewTransitions } from "astro:transitions";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="site-wrapper">
      <Nav />
      <main>
        <div class="content-wrapper">
          <h1>{pageTitle}</h1>
          <slot />
        </div>
      </main>
      <div class="filler"></div>
      <Footer />
    </div>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>

<style>
  html,
  body {
    height: 100%;
    margin: 0;
  }
  .site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem 1.5rem;
  }
  .filler {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem 1.5rem;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 60%;
    margin: 0 auto;
    width: 100%;
  }
  @media (min-width: 50em) {
    main {
      padding: 2.5rem 5rem;
    }
  }
</style>
