---
import BaseLayout from "./BaseLayout.astro";
import TLDR from "../components/TLDR.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>

    <TLDR>{frontmatter.description}</TLDR>

    <div class="tags">
        {
            frontmatter.tags.map((tag) => (
                <p class="tag">
                    <a href={`/tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>
    <slot />
</BaseLayout>

<style>
    .tags a {
        text-decoration: none;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25rem 0.25rem 1rem 0.25rem;
        background-color: #F5F5F5;
        padding: 0.25rem 0.5rem;
        font-weight: 400;
        font-family: "JuliaMono-Light";
    }

    .tag:first-child {
        margin-left: 0;
    }

    :global(.dark) .tag {
        background-color: #35373B;
    }

    .tag:hover {
        color: #ad1a72;
    }
</style>
