---
import BaseLayout from "./BaseLayout.astro";
import Aside from "../components/Aside.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>

    <Aside title="TL;DR">{frontmatter.description}</Aside>

    <div class="tags">
        {
            frontmatter.tags.map((tag) => (
                <a class="tag" href={`/tags/${tag}`}>{tag}</a>
            ))
        }
    </div>
    <slot />
</BaseLayout>

<style>
    .tags a {
        text-decoration: none;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25rem 0.25rem 1rem 0.25rem;
        background-color: #F7F7F7;
        padding: 0.25rem 1rem;
        font-weight: 400;
        font-family: "JuliaMono-Light";
    }

    .tag:first-child {
        margin-left: 0;
    }

    :global(.dark) .tag {
        background-color: #35373B;
    }

    .tag:hover {
        color: #ad1a72;
    }

    :global(.dark) .tag:hover {
        background-color: #3D3F43;
    }

    .tag:hover {
        background-color: #F2F2F2;
    }
</style>
